<form class="load-UUID-form" #f="ngForm" >
  <label for="UUIDtoLoad">Aby poprawić już wprowadzoną formę podaj kod: </label>
  <input type="text" class="form-control" name="UUIDtoLoad" id="UUIDtoLoad" ngModel #uuid="ngModel" required pattern="([0-9a-f-]{36}|.{20})">
  <span> w wciśnij </span>
  <button class="load" type="button" [class.disabled]="f.invalid" (click)="onLoadFormForUUID(f, uuid.value)">Przycisk</button>
</form>

<ng-template #saveConfirmation>
  <div *ngIf="showSaveConfirmation" class="alert alert-success" role="alert">
    {{showUuidInfo ? ('Forma została dodana. Aby w przyszłości móc poprawić formę proszę zapisać kod: ' + form.uuid) : 'Forma została zmieniona.'}}
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="saveConfirmation"></ng-container>

<tcf-form-edit [form]="form" (save)="onSave()" (newForm)="onNewForm()"></tcf-form-edit>

<ng-container *ngTemplateOutlet="saveConfirmation"></ng-container>


<h4>Podgląd:</h4>
<tcf-form-view [form]="form"></tcf-form-view>