<form #f="ngForm" (submit)="onLogin()">
  <div class="form-group">
    <label for="login">Login</label>
    <div class="controls"><input type="text" id="login" name="login" [(ngModel)]="login" required></div>
  </div>
  <div class="form-group">
    <label for="password">Hasło</label>
    <div class="controls"><input type="password" id="password" name="password" [(ngModel)]="password" required></div>
  </div>
  <div class="buttons">
    <div class="controls">
      <button type="submit" [disabled]="f.invalid">Zaloguj</button>
    </div>
  </div>
</form>