<button *ngIf="false" type="button" class="btn btn-secondary" (click)="onLogout();">Logout (TODO remove)</button>

<div class="row">
  <div class="col-12 mb-3" *ngIf="userService.isAdmin() | async">
    <button type="button" class="btn btn-secondary" [routerLink]="['/']">Nowa forma</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/list']">Lista form</button>
  </div>
</div>

<div *ngFor="let data of messagesService.messages" class="message error {{data.status}}">{{data.message}}</div>

<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row">
  <!-- <div class="col-12">Footer</div> -->
</div>