<form #f="ngForm">
  <div class="form-group" [ngClass]="{ 'ng-touched': area.touched, 'ng-untouched': area.untouched, 'ng-valid': area.valid, 'ng-invalid': !area.valid }">
    <label for="area">Obszar tematyczny:</label>
    <div class="controls">
      <select name="area" id="area" [ngModel]="form.area" #area="ngModel" required>
        <optgroup *ngFor="let group of sAreas" [label]="group.name">
          <option *ngFor="let option of group.sub" [value]="option">{{ option }}</option>
        </optgroup>
      </select>
    </div>
  </div>

  <tcf-input-wrapper for="scope" label="Zakres szkolenia" addInfo="(max 250 znaków)">
    <textarea rows="5" name="scope" [ngModel]="form.scope" #scope="ngModel" required maxlength="2"></textarea>
    <div class="feedback" *ngIf="scope.touched && scope.control.errors && scope.control.errors.maxlength">Pole może mieć maksymalnie 250 znaków.</div>
  </tcf-input-wrapper>
  <!--TODO max-length custom-->

  <tcf-input-text name="name" label="Nazwa formy" [ngModel]="form.name" required maxlength="150"></tcf-input-text>

  <tcf-input-text name="target" label="Prowadzący" [ngModel]="form.target" required maxlength="7"></tcf-input-text>

  <div class="form-group">
    <label for="">Informacje dodatkowe:</label>
    <div class="controls">
      <textarea rows="5" ></textarea>
    </div>
  </div>

  

  <button type="button" (click)="test()">Test</button>
  <button type="button" (click)="reset()">Reset</button>
</form>

<!--<input type="text" class="form-control" />-->
class.has-danger]="!area.valid"
ngClass]=" 'control-error': !nameModel.valid, 'control-warning': nameModel.untouched, 'control-success': nameModel.valid "
<!-- ngbTooltip="Max 150 znaków" triggers="focus:blur" -->

<!-- Equivalent of tcf-input-text: 
  <div class="form-group" [ngClass]="{ 'ng-touched': nameModel.touched, 'ng-untouched': nameModel.untouched, 'ng-valid': nameModel.valid, 'ng-invalid': !nameModel.valid }">
    <label for="name">Nazwa formy<span class="input-add-info"> (max 150 znaków)</span>:</label>
    <div class="controls">
      <input type="text" name="name" id="name" 
          [ngModel]="form.name" #nameModel="ngModel" required maxlength="150"/>
    </div>
    <div class="input-add-info"> (max 150 znaków)</div>
    <div class="feedback" *ngIf="nameModel.touched && nameModel.control.errors && nameModel.control.errors.required">Wypełnienie pola jest wymagane.</div>
    <div class="feedback" *ngIf="nameModel.touched && nameModel.control.errors && nameModel.control.errors.maxlength">Pole może mieć maksymalnie 150 znaków.</div>
  </div>

-->