/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

.load-UUID-form {
    //@extend .form-inline;
    //margin-bottom: 80px;
    height: 130px;

    input {
        display: inline-block;
        width: 350px;

        &.ng-touched.ng-invalid {
            border-color: $brand-danger;
            
            &:focus {
                @include box-shadow($input-box-shadow, 0 0 6px lighten($brand-danger, 20%));
            }
        }
    }

    button {
        @extend .btn;
        @extend .btn-primary;
    }
}

tcf-form-edit .form-group {
    @extend .row;

    margin-bottom: 0.25rem;

    label {
        @extend .col-form-label;
        //@extend .col-form-label-sm;
        @extend .col-md-3;
        @extend .col-lg-2;

        padding-right: 0;

        @include media-breakpoint-up(md) {
            text-align: right;
        }

        .input-add-info {
            @extend .hidden-md-up;
        }
    }

    .controls {
        @extend .col-md-7;
        @extend .col-lg-7;
        @extend .col-xl-6;

        padding-right: 5px;

        select, input, textarea {
            @extend .form-control;
            //@extend .form-control-sm;

            &.notFullWidth {
                width: auto;
                max-width: 100%;
            }
        }

        @include media-breakpoint-down(sm) {
            //Tooltips are displayed next to Label on small devices. See HTML files.
            .tooltip {
                display: none;
            }
        }

        @include media-breakpoint-up(md) {
            select {
                width: auto;
                max-width: 100%;
            }
        }
    }

    div.input-add-info {
        @extend .hidden-sm-down;
        @extend .col-md-2;
        @extend .col-form-label;

        @include media-breakpoint-down(md) {
            //Lines below are coppied from .col-form-label-sm. @extend is not allowed here (TODO why?)
            padding-top: calc(#{$input-padding-y-sm} - #{$input-btn-border-width} * 2);
            padding-bottom: calc(#{$input-padding-y-sm} - #{$input-btn-border-width} * 2);
            font-size: $font-size-sm;
            //@extend .col-form-label-sm;
        }

        
        padding-left: 0;
    }

    .feedback {
        //@extend .col-form-label-sm;
        @extend .form-control-feedback;
        @extend .col-9;
        @extend .offset-md-3;
        @extend .offset-lg-2;

        padding-top: 0;
        margin-top: 0;
    }


    @mixin input-validation($color) {
        label, .feedback {
            color: $color;
        }

        input, select, textarea {
            border-color: $color;
            
            &:focus {
                @include box-shadow($input-box-shadow, 0 0 6px lighten($color, 20%));
            }
        }

        div.input-add-info {
            color: $color;
        }
    }

    @mixin input-icon {
      padding-right: ($input-padding-x * 3);
      background-repeat: no-repeat;
      background-position: center right ($input-height / 4);
      background-size: ($input-height / 2) ($input-height / 2);
    }

    /*.form-group.ng-untouched, .control-warning {
        @include input-validation($brand-warning);

        input {
            background-image: $form-icon-warning;
        }
    }*/
    &.ng-touched.ng-invalid, .control-error {
        @include input-validation($brand-danger);

        input {
            @include input-icon;
            background-image: $form-icon-danger;
        }
    }
    &.ng-dirty.ng-valid, .control-success {
        @include input-validation($brand-success);

        input {
            @include input-icon;
            background-image: $form-icon-success;
        }
    }


    &.group-for-index {
        .index-error {
            @extend .col-12;
            color: $brand-danger;
        }
        & > .index-error {
            @extend .hidden-md-up;
        }

        .controls {
            div.for-button {
                @extend .col-12;
                @extend .hidden-sm-down;
            }

            div.input-add-info {
                @extend .col-5;
            }

            label {
                @extend .col-12;
                text-align: left;
                padding-top: 0;
                padding-bottom: 0;
            }

            input {
                display: inline-block;
                width: auto;
            }
        }
    }
}

tcf-form-edit {
    button {
        @extend .btn;
        @extend .btn-secondary;

        &.toggle {
            @extend .btn-sm;
        }

        &.save {
            @extend .btn-primary;
            //@extend .btn-lg;
        }

        &.new {
            //@extend .btn-lg;
        }
    }
}

.text-error {
    color: $brand-danger;
}

.form-preview {
    font-size: $font-size-sm;

    table {
        @extend .table;
        @extend .table-bordered;
        @extend .table-sm;

        max-width: 800px;
        margin-bottom: 0px;

        tr {
            td {
                width: 200px;
            }

            &:FIRST-CHILD td {
                text-align: center;
            }

            td:FIRST-CHILD {
                width: 10%;
                white-space: nowrap;
            }
        }
    }

    .index {
        >span {
            float: left;
        }
        >div {
            //display: inline-block;
            margin-left: 60px;
        }
    }
}

tcf-login {
    .form-group {
        @extend .row;

        label {
            @extend .col-form-label;
            @extend .col-sm-2;

            padding-right: 0;
            @include media-breakpoint-up(sm) {
                text-align: right;
            }
        }

        .controls {
            @extend .col-sm-6;
            @extend .col-md-5;
            @extend .col-lg-4;
            @extend .col-xl-3;

            input {
                @extend .form-control;
            }
        }
    }

    .buttons {
        @extend .form-group;
        @extend .row;

        .controls {
            @extend .offset-sm-2;

            button {
                @extend .btn;
                @extend .btn-primary;
            }
        }
    }
}

.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.pre-line {
    white-space: pre-line;
}

@keyframes fadeout {
    0%  { opacity: 1; }
    50% { opacity: 0.5; }
    100%{ opacity: 0; transform: scaleY(0); height: 0; margin: 0; padding: 0; display: none;}
}
//from {opacity: 1;}
//to {opacity: 0;}

.message {
    &.error {
        @extend .alert;
        @extend .alert-danger;
    }

    &.fadeout {
        animation-name: fadeout;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}